In [100]:
import pandas as pd

In [105]:
df1 = pd.DataFrame({'A': ['Nan', 'Nan', 'Nan', 'Nan', 'Nan'],
                   'B': ['Nan', 'Nan', 'Nan', 'Nan', 'Nan']})
df2 = pd.DataFrame({'A': ['ok', 'ok'],}, index = [2,4])

In [89]:
df3 = pd.concat([df1, df2], axis=1)

In [90]:
df3 =df3.drop('A1', axis = 1).iloc[:, [1,0]]

In [91]:
df3

     A    B
0  NaN  Nan
1  NaN  Nan
2   ok  Nan
3  NaN  Nan
4   ok  Nan

In [108]:
df3 = pd.merge(df2, df1,right_index=True, left_index=True )

In [109]:
df3

  A_x  A_y    B
2  ok  Nan  Nan
4  ok  Nan  Nan